.login {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
    .login-form {
        display: table-cell;
        vertical-align: middle;
    }
    .title {
        margin-top: 30px;
    }
    .card-panel {
        padding: 0 2rem;
        background-color: #ffffff;
    }
    .no-margin-bottom {
        margin-bottom: 0px;
    }
    .custom-btn {
        width: 100%;
    }
    .overlay-loading {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #444;
		z-index: 100;
		opacity: 0.8
    }
    .flash-error {
        color: #FF2020;
    }
    .custom-loader {
        z-index: 1002;
        display: block;
        position: absolute;
        top: calc(50% - 39px);
        left: calc(50% - 39px);
        margin-right: -50%;
    }
}
