doctype html
html(lang='th')
	head
		block meta
			meta(charset='utf-8')

		block title
			title='Jade Layout Template'

		block styles
			link(rel='stylesheet', href='lib/materialize/dist/css/materialize.min.css')
			link(rel='stylesheet', href='/css/style.css')
	body
		block content
		block scripts
			script(src='/lib/jquery/dist/jquery.min.js')
			script(src='/lib/materialize/dist/js/materialize.min.js')
		block custom_script